//颜色
$main_bg:#fff;
$main_bg_active:#fcf9f7;
$main_content_bg:#f1f3f3;
$light:#ff7f32;
$font:#4f453f;
$font2:#b2adab;
//阴影
$shadow_d:0 2px 2px rgba(227, 226, 228, 0.4);
$shadow_r:3px 3px 2px rgba(227, 226, 228, 0.6);

//主题图片素材
$theme_light:"light";
$theme_dark:""